<!-- Comment Sec Start -->
<h3 *ngIf="!comments" class="page-header-comment"><i class="fa fa-comments-o"></i> {{language.comments}}</h3>
<h3 *ngIf="comments" class="page-header-comment"><i class="fa fa-comments-o"></i> {{comments.length}}
    {{language.comments}}
</h3>

<div *ngIf="comments" class="comment-list blog_comment">
    <div *ngFor="let comment of comments">
        <div class="comment_sec">
            <article class="row">
                <div class="col-12">
                    <div class="blog_center">
                        <div>
                            <figure class="thumbnail">
                                <img [src]="imagePath + comment.user.image" alt="{{comment.user.name}}">
                            </figure>
                        </div>
                        <div class="blog_user arrow left">
                            <div class="panel-body">
                                <div class="text-left">
                                    <div class="comment-user"><i class="fa fa-user"></i>
                                        <h6>{{comment.user.name}}</h6>
                                    </div>
                                    <div class="comment-date"><i class="fa fa-clock-o"></i>
                                        <h6>{{comment.date | date}}</h6>
                                    </div>
                                </div>
                                <div class="comment-post">
                                    <p>
                                        {{comment.message}}
                                    </p>
                                </div>
                                <a href="javascript:void(0)" class="link-btn"
                                    (click)="openVerticallyCentered(content, comment.id)">
                                    <i class="fa fa-reply"></i>
                                    {{language.reply}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!--Comment Sec Start-->
        </div>
        <div class="comment_sec" *ngFor="let c of comment.comments">
            <article class="row">
                <div class="col-11 offset-1">
                    <div class="blog_center re_comment">
                        <div>
                            <figure class="thumbnail">
                                <img [src]="imagePath + c.user.image" alt="{{c.user.name}}">
                            </figure>
                        </div>
                        <div class="blog_user arrow left">
                            <div class="panel-body">
                                <div class="text-left">
                                    <div class="comment-user"><i class="fa fa-user"></i>
                                        <h6>{{c.user.name}}</h6>
                                    </div>
                                    <div class="comment-date"><i class="fa fa-clock-o"></i>
                                        <h6>{{c.date | date}}</h6>
                                    </div>
                                </div>
                                <div class="comment-post">
                                    <p>
                                        {{c.message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!--Comment Sec Start-->
        </div>
    </div>
</div>
<div *ngIf="!comments" class="comment-list blog_comment">
    <app-loader-bis></app-loader-bis>
</div>
<!-- Comment Sec End -->
<div class="quote_2 comment_form_sec">
    <div class="container">
        <div class="row">
            <div class="col-12 quote_form">
                <hr />
                <h3 class="page-header-comment mb-4">{{language.leaveComment}}</h3>
                <h6 *ngIf="hasSentError" class="page-header-comment mb-4">{{language.contactError}}</h6>
                <h6 *ngIf="hasSent" class="page-header-comment mb-4">{{language.commentSuccess}}</h6>

                <form #commentForm="ngForm" (submit)="onFormSubmit(commentForm)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="commentName">{{language.contactName}}</label>
                            <input [ngClass]="{'error-form' : error}" ngModel type="text" name="name"
                                class="form-control" id="commentName" placeholder="{{language.contactName}}"
                                required="">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="commentMail">{{language.contactEmail}}</label>
                            <input [ngClass]="{'error-form' : errorMail || error}" ngModel type="email" name="email"
                                class="form-control" id="commentMail" placeholder="{{language.contactEmail}}"
                                required="">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="commentMessage">{{language.commentMessage}}</label>
                            <textarea [ngClass]="{'error-form' : error}" ngModel name="message"
                                class="form-control msg_coment" id="commentMessage" rows="3"
                                placeholder="{{language.commentMessage}}" required=""></textarea>
                        </div>
                        <div class="col-12">
                            <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}">
                            </re-captcha>
                        </div>
                        <div class="col-12 text-center" *ngIf="!sending">
                            <button type="submit" class="btn btn-default primary-btn m-t-20">{{language.send}}</button>
                        </div>
                        <div class="col-12" *ngIf="sending">
                            <app-loader-bis></app-loader-bis>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="login-modal">
        <div class="modal-header">
            <button aria-label="Close" (click)="modal.dismiss('Cross click')" class="close" data-dismiss="modal"
                type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h3 class="m-b-20 text-center">{{language.reply}}</h3>
            <div *ngIf="replyComment" class="comment-list blog_comment m-b-20">
                <div class="comment_sec">
                    <article class="row">
                        <div class="col-12">
                            <div class="blog_center">
                                <div>
                                    <figure class="thumbnail">
                                        <img [src]="imagePath + replyComment.user.image" alt="{{replyComment.user.name}}">
                                    </figure>
                                </div>
                                <div class="blog_user arrow left">
                                    <div class="panel-body">
                                        <div class="text-left">
                                            <div class="comment-user"><i class="fa fa-user"></i>
                                                <h6>{{replyComment.user.name}}</h6>
                                            </div>
                                            <div class="comment-date"><i class="fa fa-clock-o"></i>
                                                <h6>{{replyComment.date | date}}</h6>
                                            </div>
                                        </div>
                                        <div class="comment-post">
                                            <p>
                                                {{replyComment.message}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="comment_sec" *ngFor="let c of replyComment.comments">
                    <article class="row">
                        <div class="col-11 offset-1">
                            <div class="blog_center re_comment">
                                <div>
                                    <figure class="thumbnail">
                                        <img [src]="imagePath + c.user.image" alt="{{c.user.name}}">
                                    </figure>
                                </div>
                                <div class="blog_user arrow left">
                                    <div class="panel-body">
                                        <div class="text-left">
                                            <div class="comment-user"><i class="fa fa-user"></i>
                                                <h6>{{c.user.name}}</h6>
                                            </div>
                                            <div class="comment-date"><i class="fa fa-clock-o"></i>
                                                <h6>{{c.date | date}}</h6>
                                            </div>
                                        </div>
                                        <div class="comment-post">
                                            <p>
                                                {{c.message}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--Comment Sec Start-->
                </div>
            </div>
            <form #commentFormReply="ngForm" (submit)="onFormSubmitReply(commentFormReply)">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="commentNameReply">{{language.contactName}}</label>
                        <input [ngClass]="{'error-form' : errorReply}" ngModel type="text" name="name"
                            class="form-control" id="commentNameReply" placeholder="{{language.contactName}}"
                            required="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="commentMailReply">{{language.contactEmail}}</label>
                        <input [ngClass]="{'error-form' : errorMailReply || errorReply}" ngModel type="email"
                            name="email" class="form-control" id="commentMailReply"
                            placeholder="{{language.contactEmail}}" required="">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="commentMessageReply">{{language.commentMessage}}</label>
                        <textarea [ngClass]="{'error-form' : errorReply}" ngModel name="message"
                            class="form-control msg_coment" id="commentMessageReply" rows="3"
                            placeholder="{{language.commentMessage}}" required=""></textarea>
                    </div>
                    <div class="col-12">
                        <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}">
                        </re-captcha>
                    </div>
                    <div class="col-12 text-center" *ngIf="!sending">
                        <button type="submit" class="btn btn-default primary-btn m-t-20">{{language.send}}</button>
                    </div>
                    <div class="col-12" *ngIf="sending">
                        <app-loader-bis></app-loader-bis>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>