<section class="gym format" [ngStyle]="{'background-image': 'url(assets/images/agency/team/expert-background.png)', 'background-repeat':'space'}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center title title2 title-inner">
                        <div class="main-title">
                            <h2 class="font-primary borders text-center text-uppercase m-b-0">
                                <span class="">{{language.about}}</span>
                            </h2>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para" *ngFor="let para of language.aboutPara">
                                {{para}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8 offset-md-2 agency format speaker expert-bg">
                <div class="container" [ngStyle]="{'max-width': '500px'}">
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img src="assets/images/luciano.jpg" alt="" class="img-fluid">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li *ngFor="let social of socials">
                                            <a target="_blank" href="{{social.link}}">
                                                <i class="fa fa-{{social.fa}} center-content" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name text-center font-secondary">Lucien Burdet</h5>
                                <h6 class="post text-center ">{{age}} {{language.years}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>