<!-- social section Start-->
<section *ngIf="socials?.length > 0" class="music album bg-unset" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2 class="text-uppercase">{{language.listenToMe}}</h2>
                    </div>
                    <div class="sub-title">
                        <a [routerLink]="locale ? ['/', locale, 'page', 'social'] : ['/page/social']">
                            {{language.seeAll}}<i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let social of socials">
                <a target="_blank" href="{{social.link}}">
                    <div class="album-list overlay-box text-center">
                        <h5 class="text-uppercase list-head">
                            <i aria-hidden="true" class="{{social.fa}} fa-2xl"></i>
                        </h5>
                        <div>
                            <h6 class="item-sublist">{{language.access}} <i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i></h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!socials" class="music album bg-unset" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis-red></app-loader-bis-red>
            </div>
        </div>
    </div>
</section>
<!-- social section end-->
