<!-- gallery section Start-->
<section *ngIf="galleries?.length > 0" class="music gallery bg-gallery bg-shadow-top-bottom" [ngStyle]="{'background-image': (artist?.gallery ? 'url(' + artistImagePath + artist.gallery + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>{{language.gallery}}</h2>
                    </div>
                    <div class="sub-title">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <owl-carousel-o class="gallery-slider" [options]="galleryCarouselOptions">
                    <ng-container *ngFor="let gallery of galleries">
                        <ng-template carouselSlide class="item"  *ngIf="gallery.id != -1">
                            <img src="{{galleryImagePath}}{{gallery.image}}" alt="gallery-{{gallery.id}}" class="img-gallery">
                            <div class="abs-center w-100 text-container">
                                <a target="_blank" href="{{galleryImagePath}}{{gallery.image}}">
                                    <h5 class="text-white overlay-text text-center">
                                        {{language.download}}
                                        <span><i class="fa-solid fa-download" aria-hidden="true"></i></span>
                                    </h5>
                                </a>
                            </div>
                            <div class="overlay"></div>           
                        </ng-template>
                        <ng-template carouselSlide class="item" *ngIf="gallery.id == -1"></ng-template>
                    </ng-container>
                </owl-carousel-o>
          </div>
        </div>
    </div>
</section>
<section *ngIf="!galleries" class="music gallery bg-gallery bg-shadow-top-bottom" [ngStyle]="{'background-image': (artist?.gallery ? 'url(' + artistImagePath + artist.gallery + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis-red></app-loader-bis-red>
            </div>
        </div>
    </div>
</section>
<!-- gallery section end-->
