<!-- testimonial section start-->
<section *ngIf="testimonials?.length > 0" class="music testimonial sponsor" [ngStyle]="{'background-image': (artist?.testimonial ? 'url(' + artistImagePath + artist.testimonial + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>{{language.referringToMe}}</h2>
                    </div>
                    <div class="sub-title">
                        <a [routerLink]="['/page/testimonial']">
                            {{language.seeAll}}<i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <owl-carousel-o [options]="testimoialCarouselOptions" class="music-testimonial-slider">
                    <ng-container *ngFor="let testimonial of testimonials">
                        <ng-template carouselSlide class="item">
                            <div class="item">
                                <img [src]="quoteImage" alt="quote" class="img-fluid">
                                <div class="text-center testimonial-info">
                                    <a target="_blank" href="{{testimonial.link}}">
                                        <img [src]="testimonialImagePath + testimonial.image" alt="{{testimonial.name}}" class="img-fluid mb-4" *ngIf="testimonial.image">
                                        <p class="testimonial-para">{{testimonial.citation}}</p>
                                        <h6 class="gradient-text text-uppercase m-b-5 font-large">{{testimonial.name}}</h6>
                                        <h6 class="font-small">{{testimonial.designation}}</h6>
                                    </a>
                                </div>
                            </div>
                        </ng-template>                            
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!testimonials" class="music testimonial sponsor" [ngStyle]="{'background-image': (artist?.testimonial ? 'url(' + artistImagePath + artist.testimonial + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis-red></app-loader-bis-red>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section end-->