<!-- blog section start-->
<section *ngIf="blogs?.length > 0" class="music blog bg-album" [ngStyle]="{'background-image': (artist?.blog ? 'url(' + artistImagePath + artist.blog + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>{{language.blog}}</h2>
                    </div>
                    <div class="sub-title">
                        <a [routerLink]="['/blog/list']">
                            {{language.seeAll}}<i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <owl-carousel-o class="blog-slider" [options]="blogCarouselOptions">
                    <ng-container *ngFor="let blog of blogs">
                        <ng-template carouselSlide class="item" *ngIf="blog.id != -1">
                                <div class="img-container blog-item">
                                    <img src="{{blogImagePath + blog.image}}" alt="{{blog.slug}}" class="img-fluid">
                                    <div class="overlay"></div>
                                    <div class="blog-info set-abs bottom-0">
                                        <div class="center-text flex m-b-25">
                                            <i class="fa-regular fa-calendar m-r-5" aria-hidden="true"></i>
                                            <h6 class="font-blog">{{blog.date | date:'d MMMM y'}}</h6>
                                        </div>
                                        <h4 class="blog-text">{{blog.title}}</h4>
                                        <p class="small-font" >{{blogService.plainText(blog.content)}}</p>
                                        <div class="social-list">
                                            <ul>
                                                <li>
                                                    <a target="_blank" href="{{linkedinUrl + blogPage + blog.slug}}">
                                                        <div class="center-content">
                                                            <i class="fa-brands fa-linkedin-in center-content" aria-hidden="true"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="{{facebookUrl + blogPage + blog.slug}}&t={{blog.title}}">
                                                        <div class="center-content">
                                                            <i class="fa-brands fa-facebook-f center-content"aria-hidden="true"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a target="_blank" href="{{twitterUrl + blogPage + blog.slug}}&text={{blog.title}}">
                                                        <div class="center-content">
                                                            <i class="fa-brands fa-twitter center-content"aria-hidden="true"></i>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mt-2">
                                            <a [routerLink]="['/blog/detail', blog.slug]" class="btn btn-default btn-gradient m-0-auto">
                                                <i class="fa-solid fa-book mr-1" aria-hidden="true"></i>
                                                {{language.readMore}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                       </ng-template>
                       <ng-template carouselSlide class="item" *ngIf="blog.id == -1"></ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!blogs" class="music blog bg-album" [ngStyle]="{'background-image': (artist?.blog ? 'url(' + artistImagePath + artist.blog + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis-red></app-loader-bis-red>
            </div>
        </div>
    </div>
</section>
<!-- blog section end-->