<div class="blog-side">
    <div *ngIf="!tags">
        <app-loader-bis></app-loader-bis>
    </div>
    <div *ngIf="tags">
        <h5 class="blog-title">{{language.categories}}</h5>
        <div class="sidebar-container borders">
            <ul class="sidebar-list">
                <li class="d-flex">
                    <a [routerLink]="['/blog']">
                        <i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>
                        {{language.blogAllPost}}
                    </a>
                </li>
                <li class="d-flex" *ngFor="let tag of tags">
                    <a [routerLink]="['/blog/tag', tag.slug]">
                        <i class="fa fa-angle-right m-r-15" aria-hidden="true"></i>
                        {{tag.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>