<!-- Nav Start-->
<header class="{{headerClass}} loding-header header-fixed">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <a [routerLink]="locale ? ['/', locale] : ['/']" class="d-inline-block m-r-auto">
                        <img src="{{logoImagePath}}logo.png" (error)="changeSource($event)" alt="logo" class="img-fluid img-logo">
                    </a>
                    <app-menu></app-menu>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Nav end-->
