<!-- Nav Start-->
<header class="music loding-header header-fixed">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <a [routerLink]="['/']" class="d-inline-block m-r-auto">
                        <img src="assets/images/logo/logo.png" alt="logo" class="img-fluid img-logo">
                    </a>
                    <app-menu></app-menu>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Nav end-->
