<!-- section start -->
<section class="blog-sec blog-sidebar single_blog_item privacy-policy-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-text m-t-20" *ngIf="politic">
                    <h6>{{language.privacyPolicy}}</h6>

                    <h3 class="blog-head">{{politic.title}}</h3>

                    <div class="blog-divider"></div>

                    <div class="blog-description" [innerHTML]="politic.document">
                    </div>
                </div>
                <div class="blog-text m-t-20" *ngIf="!politic">
                    <h6>{{language.privacyPolicy}}</h6>

                    <div class="blog-divider"></div>

                    <div *ngIf="politic === undefined" class="blog-description mt-5">
                        <app-loader-bis></app-loader-bis>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section end -->