<!-- sidebar Start-->
<div *ngIf="project" id="side-section" class="music side-section" [ngClass]="{'fullscreen': fullscreen}" [style.display]="sideBarDispaly">
    <div class="jp-jplayer"></div>
    <div class="jp-audio" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <div class="jp-gui jp-interface">
                <div class="side-player">
                    <div class="text-center">
                        <div class="gradient-block">
                            <div class="animation-circle-inverse">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <h6 class="now-play">{{project.date | date:'d MMMM y'}}</h6>
                        </div>
                        <a *ngIf="!fullscreen" [routerLink]="locale ? ['/', locale, 'page', 'project', project.slug] : ['/page/project', project.slug]">
                            <img src="{{projectImagePath}}{{project.image}}" alt="{{project.name}}" class="img-fluid girls img-project">
                        </a>
                        <img *ngIf="fullscreen" src="{{projectImagePath}}{{project.image}}" alt="{{project.name}}" class="img-fluid girls img-project">
                        <div class="author-text">
                            <h5 class="m-b-10 song-text">{{project.name}}</h5>
                            <h6 class="song-sub-text" *ngIf="project.type">{{project.type.name}}</h6>
                            <h6 class="song-sub-text" *ngIf="!artist">Amédée</h6>
                            <h6 class="song-sub-text" *ngIf="artist">{{artist.name}}</h6>
                        </div>
                    </div>
                    <div class="container">
                        <div class="jp-controls">
                            <div class="button-container text-center" *ngIf="project.projectPlatforms">
                                <a *ngFor="let projectPlatform of project.projectPlatforms" target="_blank" href="{{projectPlatform.link}}">
                                    <button type="button" class="jp-play mb-3" tabindex="0">
                                        <i class="{{projectPlatform.fa}}" aria-hidden="true"></i>
                                    </button>
                                </a>
                            </div>
                            <div class="button-container text-center" *ngIf="!project.projectPlatforms">
                                <app-loader-bis></app-loader-bis>
                            </div>
                            <button class="btn-sidebar" (click)="sideBar()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>

                        <div class="jp-playlist" [ngClass]="fullscreen ? 'pb-5' : 'mb-5'" *ngIf="project.titles">
                            <ul class="pt-2">
                                <li class="mb-3" *ngFor="let title of project.titles">
                                    <div class="row align-items-center ">
                                        <div class="col">
                                            {{title.name}}
                                        </div>
                                        <div class="col" *ngIf="title.titlePlatforms">
                                            <div class="socials-lists">
                                                <ul class="socials-horizontal justify-content-center">
                                                    <li *ngIf="title.lyrics">
                                                        <a href="javascript:void(0)" (click)="openVerticallyCentered(content, title)">
                                                            <i aria-hidden="true" class="fa-solid fa-file-lines center-content li-lyrics"></i>
                                                        </a>
                                                    </li>
                                                    <li *ngFor="let titlePlatform of title.titlePlatforms">
                                                        <a target="_blank" href="{{titlePlatform.link}}">
                                                            <i aria-hidden="true" class="{{titlePlatform.fa}} center-content"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <ng-template #content let-modal>
                                    <div class="login-modal">
                                        <div class="modal-header">
                                            <h1 class="m-b-20 mt-4 ml-2">{{language.lyrics}}</h1>
                                            <button aria-label="Close" (click)="modal.dismiss('Cross click')" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>
                                                {{selectedTitle.name}}
                                            </h3>
                                            <div [innerHTML]="selectedTitle.lyrics"></div>
                    
                                            <div class="text-center">
                                                <a aria-label="Close" class="btn btn-default primary-btn m-t-20" (click)="modal.dismiss('Cross click')" data-dismiss="modal">
                                                    {{language.close}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ul>
                        </div>
                        <div class="jp-playlist" [ngClass]="fullscreen ? 'pb-5' : 'mb-5'" *ngIf="!project.titles">
                            <ul class="pt-2">
                                <app-loader-bis></app-loader-bis>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="project === undefined" id="side-section" class="music side-section" [style.display]="sideBarDispaly">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</div>
<!-- sidebar end-->