<!-- sidebar Start-->
<div id="side-section" class="music side-section" [style.display]="sideBarDispaly">
    <div class="jp-jplayer"></div>
    <div class="jp-audio" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <div class="jp-gui jp-interface">
                <div class="side-player">
                    <div class="text-center">
                        <div class="gradient-block">
                            <div class="animation-circle-inverse">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <h6 class="now-play">now playing</h6>
                        </div>
                        <img src="assets/images/music/icons/girl-side.jpg" alt="" class="img-fluid girls">
                        <div class="author-text">
                            <h5 class="m-b-10 song-text">Latest Song</h5>
                            <h6 class="song-sub-text">Zrial doj</h6>
                        </div>
                    </div>
                    <div class="container">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-time-holder">
                            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        </div>
                        <div class="jp-controls">
                            <div class="button-container">
                                <button class="jp-previous" role="button" tabindex="0"></button>
                                <button class="jp-play" role="button" tabindex="0"></button>
                                <button class="jp-next" role="button" tabindex="0"></button>
                            </div>
                            <button class="btn-sidebar" (click)="sideBar()"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>

                        <div class="jp-playlist">
                            <ul>
                                <li>&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your
                        <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sidebar end-->