<!-- section start -->
<section class="resume portfolio-section zoom-gallery filter-section" *ngIf="galleries?.length > 0 || videoGalleries?.length > 0">
    <div class="container">
        <div class="p-4col-width">
            <div class="isotopeContainer row" gallerize>
                <ng-container>
                    <figure class="p-width" itemprop="associatedMedia" *ngFor="let gallery of galleries">
                        <a href="javascript:void(0)" itemprop="contentUrl">
                          <img alt="gallery-{{gallery.id}}" src="{{galleryImagePath}}{{gallery.image}}" class="img-fluid" />
                        </a>
                        <a target="_blank" href="{{galleryImagePath}}{{gallery.image}}">
                            <h5 class="mt-2 text-center">
                                {{language.download}}
                                <span><i class="fa-solid fa-download" aria-hidden="true"></i></span>
                            </h5>
                        </a>
                    </figure>
                    <figure class="p-width" itemprop="associatedMedia" *ngFor="let gallery of videoGalleries">
                        <a href="javascript:void(0)" (click)="openVerticallyCentered(content)">
                            <video onloadedmetadata="this.muted = true; this.playsinline = true;" oncanplay="this.play()"  autoplay loop playsinline="" muted="" onplaying="this.controls=false" alt="gallery-{{gallery.id}}" class="img-fluid">
                                <source [src]="updateVideoUrl(galleryImagePath + gallery.image)" type='{{gallery.mimeType}}'>
                            </video>
                            <ng-template #content let-modal>
                                <div class="modal-body video-modal">
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <iframe class="mfp-iframe" frameborder="0" allowfullscreen="" [src]="updateVideoUrl(galleryImagePath + gallery.image + '?autoplay=1')"></iframe>
                                </div>
                            </ng-template>
                        </a>
                        <a target="_blank" href="{{galleryImagePath}}{{gallery.image}}">
                            <h5 class="mt-2 text-center">
                                {{language.download}}
                                <span><i class="fa-solid fa-download" aria-hidden="true"></i></span>
                            </h5>
                        </a>
                    </figure>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" [list]="listGalleries" [get]="getGalleries" [route]="route"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-empty *ngIf="galleries?.length == 0 && videoGalleries?.length == 0"></app-empty>
<section class="resume portfolio-section zoom-gallery filter-section" *ngIf="galleries === undefined && videoGalleries === undefined">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</section>
<!-- section end -->