<!-- section start -->
<section class="resume portfolio-section zoom-gallery filter-section" *ngIf="galleries?.length > 0 || videoGalleries?.length > 0">
    <div class="container">
        <div class="p-4col-width">
            <div class="isotopeContainer row">
                <ng-container>
                    <figure class="p-width text-center" itemprop="associatedMedia" *ngFor="let gallery of galleries; let i = index">
                        <a href="javascript:void(0)" (click)="lightbox.open(i)" itemprop="contentUrl">
                            <div class="d-flex justify-content-center gallery-item">
                                <img alt="gallery-{{gallery.id}}" src="{{galleryImagePath}}{{gallery.image}}" class="img-fluid" />
                            </div>
                        </a>
                        <a target="_blank" href="{{galleryImagePath}}{{gallery.image}}">
                            <small class="mt-2">
                                {{language.download}}
                                <span><i class="fa-solid fa-download" aria-hidden="true"></i></span>
                            </small>
                        </a>
                    </figure>
                    <figure class="p-width text-center" itemprop="associatedMedia" *ngFor="let gallery of videoGalleries; let i = index">
                        <a href="javascript:void(0)" (click)="lightbox.open(i + galleries?.length)" itemprop="contentUrl">
                            <div class="d-flex justify-content-center gallery-item">
                                <video onloadedmetadata="this.muted = true; this.playsinline = true;" oncanplay="this.play()"  autoplay loop playsinline="" muted="" onplaying="this.controls=false" alt="gallery-{{gallery.id}}" class="img-fluid">
                                    <source [src]="updateVideoUrl(galleryImagePath + gallery.image)" type='{{gallery.mimeType}}'>
                                </video>
                            </div>
                        </a>
                        <a target="_blank" href="{{galleryImagePath}}{{gallery.image}}">
                            <small class="mt-2">
                                {{language.download}}
                                <span><i class="fa-solid fa-download" aria-hidden="true"></i></span>
                            </small>
                        </a>
                    </figure>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" [list]="listGalleries" [get]="getGalleries" [route]="route"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-empty *ngIf="galleries?.length == 0 && videoGalleries?.length == 0"></app-empty>
<section class="resume portfolio-section zoom-gallery filter-section" *ngIf="galleries === undefined && videoGalleries === undefined">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</section>
<!-- section end -->