<!-- section start -->
<app-filter [get]="getBlogs" [route]="filterRoute" filterName="search" [filters]="filters"></app-filter>
<section class="music blog bg-album" *ngIf="blogs?.length > 0" [ngStyle]="{'background-image': (artist?.blog ? 'url(' + artistImagePath + artist.blog + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ngx-masonry [options]="myOptions" class="masonry-grid m-layout m-t-30">
                    <div ngxMasonryItem class="m-width m-2-col" (load)="updateMasonryLayout = !updateMasonryLayout" *ngFor="let blog of blogs">
                      <div class="blog-agency">
                        <div class="blog-contain">
                          <img src="{{blogImagePath}}{{blog.image}}" alt="{{blog.slug}}" class="img-fluid">
                          <div class="img-container">
                            <div class="blog-info bottom-0">
                              <div class="d-flex m-b-20">
                                <div class="d-flex center-text">
                                  <i class="fa-regular fa-calendar m-r-10" aria-hidden="true"></i>
                                  <h6 class="m-r-25 font-blog">{{blog.date | date:'d MMMM y'}}</h6>
                                </div>
                              </div>
                              <h5 class="blog-head font-600">{{blog.title}}</h5>
                              <p class="para2">
                                {{blogService.plainText(blog.content)}}...
                              </p>
                              <div class="btn-bottom m-t-20">
                                <a [routerLink]="['/blog', blog.slug]" class="btn btn-default btn-gradient m-0-auto">
                                    <i class="fa-solid fa-book mr-1" aria-hidden="true"></i>
                                    {{language.readMore}}
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </ngx-masonry>
            </div>
            <div class="col-12 mt-5">
                <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" [list]="listBlogs" [get]="getBlogs" [route]="route" [filters]="filters"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-empty *ngIf="blogs?.length == 0"></app-empty>
<section class="music blog bg-album" *ngIf="blogs === undefined" [ngStyle]="{'background-image': (artist?.blog ? 'url(' + artistImagePath + artist.blog + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</section>
<!-- section end -->