<!-- project section Start-->
<section class="music artist bg-artist bg-shadow-top-bottom" id="artist" [ngStyle]="{'background-image': (artist?.project ? 'url(' + artistImagePath + artist.project + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1" *ngIf="projects?.length > 0">
                <div class="title title4">
                    <div class="main-title">
                        <h2>{{language.myProjects}}</h2>
                    </div>
                    <div class="sub-title">
                        <a [routerLink]="['/page/project']">
                            {{language.seeAll}}<i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <owl-carousel-o [options]="projectscarouselOptions" class="artist-slider">
                    <ng-container *ngFor="let project of projects">
                        <ng-template carouselSlide class="item" *ngIf="project.id != -1">
                            <div class="d-flex justify-content-center">
                                <div class="album-artist text-center">
                                    <img src="{{projectImagePath}}{{project.image}}" alt="project" class="img-fluid set-relative overlay-img img-project">
                                    <div>
                                        <div class="overlay-box2"></div>
                                    </div>
                                    <div class="set-abs bottom-0 w-100 text-left set-z-index">
                                        <div class="singers">
                                            <div class="m-b-10">
                                                <h5 class="name">{{project.name}}</h5>
                                                <h6 class="musician">{{project.type.name}} • {{project.date | date:'y'}}</h6>
                                                <h6 class="musician" *ngIf="!artist">Amédée</h6>
                                                <h6 class="musician" *ngIf="artist">{{artist.name}}</h6>
                                            </div>
                                            <div class="text-center">
                                                <a (click)="sideBar(project)" class="btn btn-default btn-gradient m-0-auto">
                                                    <i class="fa fa-play mr-1" aria-hidden="true"></i>
                                                    {{language.listen}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="set-abs cds">
                                        <img src="assets/images/music/project/cd.svg" alt="cd" class="cd-animation">
                                        <img src="assets/images/music/project/ellipse.svg" alt="elipse" class="elipse">
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide class="item" *ngIf="project.id == -1">
                            
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                <div class="mb-5" *ngIf="!projects">
                    <app-loader-bis-red></app-loader-bis-red>
                </div>
                <div *ngIf="artist === undefined">
                    <app-loader-bis-red></app-loader-bis-red>
                </div>
                <div class="artist-text text-center" *ngIf="artistAbout">
                    <h4 class="text-uppercase dummy-text mb-2">{{language.biography}}</h4>
                    <p class="text-white text-para text-artist-about">{{artistAbout.about}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project section end-->
