<!-- about section start-->
<section class="app1 download bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="center-content center-mobile">
                    <img [src]="artistImage" alt="artist" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="center-text">
                    <div>
                        <div class="download-img d-flex">
                            <div class="center-img-content m-l-15">
                                <h3 class="m-b-5">{{language.biography}}</h3>
                            </div>
                        </div>
                        <div class="information" *ngIf="artist === undefined">
                            <app-loader-bis></app-loader-bis>
                        </div>
                        <div class="information">
                            <p class="text-artist-about" *ngIf="artistAbout">
                                {{artistAbout.about}}
                            </p>
                            <p class="text-artist-about" *ngIf="(artist || artist === null) && artistAbout === null">
                                {{language.emptyItems}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->