<!-- section start -->
<app-filter [get]="getEvents" [route]="filterRoute" filterName="search" (onSearch)="onSearch($event)"></app-filter>
<section class="music album" *ngIf="events?.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let event of events">
                <div class="album-list overlay-box text-center">
                    <h5 class="text-uppercase list-head">{{event.name}}</h5>
                    <div>
                        <h6 class="item-sublist">{{event.place}}</h6>
                        <h6 class="item-sublist"><hr></h6>
                        <h6 class="item-sublist">{{event.date | date:'EEEE d MMMM'}}</h6>
                        <h6 class="item-sublist">{{event.date | date:'HH:mm'}}</h6>
                        <h6 class="item-sublist">{{event.date | date:'y'}}</h6>
                        <h6 class="item-sublist" *ngIf="event.link"><hr></h6>
                        <div class="item-sublist" *ngIf="event.link">
                            <a target="_blank" href="{{event.link}}">
                                <h6>{{language.access}} <i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" [list]="listEvents" [get]="getEvents" [route]="paginationRoute" [filters]="filtersPagination"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-empty *ngIf="events?.length == 0"></app-empty>
<section class="music album" *ngIf="events === undefined">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</section>
<!-- section end -->