<!-- section start -->
<app-filter [get]="getEvents" [route]="filterRoute" filterName="search" (onSearch)="onSearch($event)"></app-filter>
<section class="typography_section" *ngIf="events?.length > 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let event of events">
                <div class="typography-box">
                    <div class="headings">
                        <h3>{{event.name}}</h3>
                    </div>
                    <div class="typo-content">
                        <img [src]="eventImagePath + event.image" alt="{{event.name}}" class="img-fluid mb-4" *ngIf="event.image">
                        <p class="text-center">
                            <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                        </p>
                        <p class="text-center">{{event.place}}</p>
                        <hr>
                        <p class="text-center">
                            <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
                        </p>
                        <p class="text-center">{{event.date | date:'EEEE d MMMM y'}}</p>
                        <p class="text-center">{{event.date | date:'HH:mm'}}</p>
                        <hr *ngIf="event.link">
                        <div class="text-center" *ngIf="event.link">
                            <a target="_blank" href="{{event.link}}">
                                <h6 class="sub-title">{{language.access}} <i class="fa fa-arrow-right m-l-15" aria-hidden="true"></i></h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <app-pagination [currentPage]="currentPage" [totalPage]="totalPage" [list]="listEvents" [get]="getEvents" [route]="paginationRoute" [filters]="filtersPagination"></app-pagination>
            </div>
        </div>
    </div>
</section>
<app-empty *ngIf="events?.length == 0"></app-empty>
<section class="typography_section" *ngIf="events === undefined">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-loader-bis></app-loader-bis>
            </div>
        </div>
    </div>
</section>
<!-- section end -->