<!-- subscribe section start-->
<section class="music subscribe bg-gallery" [ngStyle]="{'background-image': (artist?.subscribe ? 'url(' + artistImagePath + artist.subscribe + ')' : '')}">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>{{language.subscribe}}</h2>
                    </div>
                    <div class="sub-title">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe-title">
                    <h6 class="subscribe-main">
                        {{language.subscribeInfo}} {{(artist ? artist.name : 'Amédée')}}
                    </h6>
                    <p class="subscribe-sub"></p>
                </div>
                <div class="container">
                    <form #subscribeForm="ngForm" (submit)="onFormSubmit(subscribeForm)">
                        <div class="row">
                            <div class="col">
                                <div class="subscribe">
                                    <div class="center-content">
                                        <div class="form-group">
                                            <div class="flex">
                                                <input [ngClass]="{'error-form' : error}" required ngModel type="email" class="form-control" placeholder="{{language.subscribeEmail}}" name="email" maxlength="255">
                                                <div class="button-primary" *ngIf="!sending">
                                                    <button type="submit" class=" btn btn-default btn-gradient text-white">{{language.subscribe}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe section end-->
