<!-- header Start-->
<section class="music header" id="header">
    <div class="music-content">
        <div class="music-bg bg bg-shadow-top" [ngStyle]="{'background-image': (artist?.header ? 'url(' + artistImagePath + artist.header + ')' : 'url(assets/images/music/artist/header.jpg)')}">
            <div class="text-center w-100 h-100 tilt-artist">
                <div class="img-height h-100">
                    <img *ngIf="artist?.man" src="{{artistImagePath}}{{artist.man}}" alt="artist" class="img-fluid">
                    <img *ngIf="artist && !artist.man" src="assets/images/music/artist/man.png" alt="artist" class="img-fluid">
                    <div class="container h-100" *ngIf="!artist">
                        <div class="row h-100">
                            <div class="col-12">
                                <app-loader-bis-white></app-loader-bis-white>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side" *ngIf="artist?.date">
        <div class="circle">
            <img src="assets/images/music/icons/aero.png" alt="aero" class="img-fluid">
        </div>
        <h1>{{artist.date | date:'y'}} <span class="">{{artist.date | date:'d MMMM'}}</span></h1>
    </div>
    <div class="left-side" *ngIf="socials?.length > 0">
        <h6 class="follow-text">{{language.listenToMe}}</h6>
        <ul>
            <li *ngFor="let social of socials" class="mr-2">
                <a target="_blank" href="{{social.link}}">
                    <i aria-hidden="true" class="{{social.fa}}"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="left-side pt-5" *ngIf="!socials">
        <app-loader-bis-white></app-loader-bis-white>
    </div>
    <div class="container music-container" *ngIf="project">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="play-bg d-flex">
                    <div class="song-text-container h-100">
                        <div class="d-flex h-100">
                            <div class="center-img">
                                <img src="{{projectImagePath}}{{project.image}}" alt="project" class="img-fluid img-project">
                            </div>
                            <div class="song-text">
                                <h5 class="text-white song-head">{{language.latestNovelty}}</h5>
                                <h6 class="text-white song-sub-head" *ngIf="!artist">{{project.name}} • Amédée</h6>
                                <h6 class="text-white song-sub-head" *ngIf="artist">{{project.name}} • {{artist.name}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="play-setting m-auto">
                        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                        <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                            <div class="jp-type-playlist">
                                <div class="jp-gui jp-interface p-0 d-flex">
                                    <div class="jp-controls">
                                        <button class="jp-play m-r-15" role="button" tabindex="0" (click)="sideBar(project)">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end-->