<div class="bg-black">
<app-nav></app-nav>
<app-music-header></app-music-header>
<app-music-sidebar></app-music-sidebar>
<app-music-project></app-music-project>
<app-music-social></app-music-social>
<app-music-video></app-music-video>
<app-music-gallery></app-music-gallery>
<app-music-event></app-music-event>
<app-music-blog></app-music-blog>
<app-music-subscribe></app-music-subscribe>
<app-music-testimonial></app-music-testimonial>
<app-music-footer></app-music-footer>
<app-copyright></app-copyright>
</div>